<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link
            rel="icon"
            href="data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100'><text y='.9em' font-size='90'>🌍</text></svg>"
        />

        <link rel="stylesheet" href="/styles/generated.css" />
        <title>home</title>
    </head>
    <script>
        function sendDeleteRequest(id) {
            fetch(`/users/${id}`, {
                method: "DELETE",
            }).then(() => location.reload());
        }

        function sendFormData(url, e) {
            e.preventDefault();
            const reqBody = {};
            const fields = e.srcElement.elements;
            for (let x of fields) {
                if (x.type != "submit") {
                    reqBody[x.name] = x.value;
                }
            }

            fetch(url, {
                method: "POST",
                body: JSON.stringify(reqBody),
            })
                .then((response) => {
                    if (response.status >= 200 && response.status < 300) {
                        removeErrorMessage();
                    }
                    return response.json();
                })
                .then((data) => {
                    if (data.error) {
                        setErrorMessage(data.error);
                    } else {
                        location.reload();
                    }
                });
        }

        function setErrorMessage(message) {
            const ele = document.getElementById("errorMessage");
            ele.style.display = "block";
            ele.innerText = message;
        }

        function removeErrorMessage() {
            const ele = document.getElementById("errorMessage");
            ele.style.display = "none";
            ele.innerText = "";
        }
    </script>
    <style>
        /* table {
            border-spacing: 20px;
        }

        td {
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            max-width: 1px;
        } */

        #errorMessage {
            display: none;
            color: red;
        }
    </style>
    <body>
        <div class="max-w-4xl mx-auto p-10">
            {{ if .currentUser.Username}}
            <div
                id="currentlyLoggedIn"
                class="flex justify-between bg-indigo-100 text-indigo-700 p-5 rounded-lg items-center mb-8"
            >
                <div>
                    Currently signed in as
                    <strong>{{ .currentUser.Username }}</strong>
                </div>

                <form id="signOut" onsubmit="sendFormData('/logout', event)">
                    <input class="button button-primary" type="submit" value="Sign Out" />
                </form>
            </div>
            {{ else }}
            <div
                id="currentlyLoggedIn"
                class="flex justify-between bg-gray-100 text-gray-700 p-5 rounded-lg items-center mb-8"
            >
                Not currently signed in
            </div>
            {{ end }}

            <div class="grid grid-cols-2 gap-4">
                <form onsubmit="sendFormData('/signup', event)">
                    <input
                        class="textField"
                        type="text"
                        name="username"
                        value=""
                        placeholder="username"
                    />
                    <input
                        class="textField"
                        type="text"
                        name="email"
                        value=""
                        placeholder="joe@gmail.com"
                    />
                    <input
                        class="textField"
                        type="password"
                        name="password"
                        value=""
                        placeholder="password"
                    />
                    <input class="button button-primary" type="submit" value="Sign Up" />
                </form>
                <form onsubmit="sendFormData('/login', event)">
                    <input
                        class="textField"
                        type="text"
                        name="email"
                        value=""
                        placeholder="joe@gmail.com"
                    />
                    <input
                        class="textField"
                        type="password"
                        name="password"
                        value=""
                        placeholder="password"
                    />
                    <input class="button button-primary" type="submit" value="Sign In" />
                </form>
            </div>

            <p
                class="bg-red-100 text-red-700 rounded-lg mt-8 p-5"
                id="errorMessage"
            ></p>

            <table
                class="table-fixed border border-gray-200 border-collapse mt-8 w-full"
            >
                <tr>
                    <th>ID</th>
                    <th>Username</th>
                    <th>Email</th>
                    <th>Password</th>
                    <th>Salt</th>
                    <th>Delete</th>
                </tr>
                {{ range .users }}
                <tr>
                    <td>{{ .Model.ID }}</td>
                    <td>{{ .Username }}</td>
                    <td>{{ .Email }}</td>
                    <td>{{ .Password }}</td>
                    <td>{{ .Salt }}</td>
                    <td>
                        <button
                            class="button button-danger"
                            onclick="sendDeleteRequest({{ .Model.ID }})"
                        >
                            Delete
                        </button>
                    </td>
                </tr>
                {{ end }}
            </table>
        </div>
    </body>
</html>
